.root {
    text-align:center;
    font-family:Gill Sans, sans-serif;
}

.block {
    /* -fx-padding: 5; */
    -fx-margin: 0;
    -fx-background-color: #D9D9D9;
    /* -fx-effect: dropshadow(two-pass-box, rgba(0,0,0,0.8), 5, 0, 0, 0); */
}

.mine {
    -fx-padding: 5;
    -fx-background-color: #FF5757;
    -fx-effect: dropshadow(two-pass-box, rgba(0,0,0,0.8), 5, 0, 0, 0);
}

.safe {
    -fx-padding: 5;
    -fx-background-color: #7ED957;
    -fx-effect: dropshadow(two-pass-box, rgba(0,0,0,0.8), 5, 0, 0, 0);
}



/* adjust for padding */
.grid {

}

/* for controls buttons */
.button {

}